## Pandas DataFrame 2

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('prueba.csv')
df.head()

          A         B         C         D
0  0.187497  1.122150 -0.988277 -1.985934
1  0.360803 -0.562243 -0.340693 -0.986988
2 -0.040627  0.067333 -0.452978  0.686223
3 -0.279572 -0.702492  0.252265  0.958977
4  0.537438 -1.737568  0.714727 -0.939288

In [8]:
days = pd.date_range('20190827', periods = 10)
df.index = days

### Seleccionando solo un valor en el dataFrame

In [9]:
from datetime import datetime

d = datetime(2019,8,27,0,0,0)
df.at[d, 'B']

1.12215

### Selección basado en el valor del dataFrame (ya no en el índice)

In [10]:
df[(df.A>0) & (df.B>0)]

                   A         B         C         D
2019-08-27  0.187497  1.122150 -0.988277 -1.985934
2019-09-02  0.001268  0.951517  2.107360 -0.108726
2019-09-04  0.387023  1.706336 -2.452653  0.260466

### Transformando dataFrames

In [12]:
df.transpose() # Transpuesta, tambien funciona df.T

,2019-08-27 00:00:00,2019-08-28 00:00:00,2019-08-29 00:00:00,2019-08-30 00:00:00,2019-08-31 00:00:00,2019-09-01 00:00:00,2019-09-02 00:00:00,2019-09-03 00:00:00,2019-09-04 00:00:00,2019-09-05 00:00:00
A,0.187497,0.360803,-0.040627,-0.279572,0.537438,0.070011,0.001268,-0.185258,0.387023,-1.054974
B,1.122150,-0.562243,0.067333,-0.702492,-1.737568,-0.516443,0.951517,0.856520,1.706336,0.556775
C,-0.988277,-0.340693,-0.452978,0.252265,0.714727,-1.655689,2.107360,-0.686285,-2.452653,-0.945219
D,-1.985934,-0.986988,0.686223,0.958977,-0.939288,0.246721,-0.108726,1.104195,0.260466,-0.030295

In [17]:
df.head() # no se cambia el formato

                   A         B         C         D
2019-08-27  0.187497  1.122150 -0.988277 -1.985934
2019-08-28  0.360803 -0.562243 -0.340693 -0.986988
2019-08-29 -0.040627  0.067333 -0.452978  0.686223
2019-08-30 -0.279572 -0.702492  0.252265  0.958977
2019-08-31  0.537438 -1.737568  0.714727 -0.939288

### Checando el formato

In [13]:
def checkSeriesOrDataframe(var):
    if isinstance(var, pd.DataFrame):
        return 'DataFrame'
    if isinstance(var, pd.Series):
        return 'Series'

In [18]:
checkSeriesOrDataframe(df[['A','B']])

'DataFrame'

In [15]:
checkSeriesOrDataframe(df['A'])

'Series'

### Sorting dataFrames

Existen dos maneras de ordenar dataFrames

* Ordenar por label o etiqueta -> sort_index()
* Ordenar por valor -> sort_values()

In [19]:
# Sorting by index
df.sort_index(axis = 0, ascending = False)

                   A         B         C         D
2019-09-05 -1.054974  0.556775 -0.945219 -0.030295
2019-09-04  0.387023  1.706336 -2.452653  0.260466
2019-09-03 -0.185258  0.856520 -0.686285  1.104195
2019-09-02  0.001268  0.951517  2.107360 -0.108726
2019-09-01  0.070011 -0.516443 -1.655689  0.246721
2019-08-31  0.537438 -1.737568  0.714727 -0.939288
2019-08-30 -0.279572 -0.702492  0.252265  0.958977
2019-08-29 -0.040627  0.067333 -0.452978  0.686223
2019-08-28  0.360803 -0.562243 -0.340693 -0.986988
2019-08-27  0.187497  1.122150 -0.988277 -1.985934

In [20]:
df.head()  # El original no se ve afectado

                   A         B         C         D
2019-08-27  0.187497  1.122150 -0.988277 -1.985934
2019-08-28  0.360803 -0.562243 -0.340693 -0.986988
2019-08-29 -0.040627  0.067333 -0.452978  0.686223
2019-08-30 -0.279572 -0.702492  0.252265  0.958977
2019-08-31  0.537438 -1.737568  0.714727 -0.939288

In [21]:
df.sort_index(axis = 1, ascending = False)

                   D         C         B         A
2019-08-27 -1.985934 -0.988277  1.122150  0.187497
2019-08-28 -0.986988 -0.340693 -0.562243  0.360803
2019-08-29  0.686223 -0.452978  0.067333 -0.040627
2019-08-30  0.958977  0.252265 -0.702492 -0.279572
2019-08-31 -0.939288  0.714727 -1.737568  0.537438
2019-09-01  0.246721 -1.655689 -0.516443  0.070011
2019-09-02 -0.108726  2.107360  0.951517  0.001268
2019-09-03  1.104195 -0.686285  0.856520 -0.185258
2019-09-04  0.260466 -2.452653  1.706336  0.387023
2019-09-05 -0.030295 -0.945219  0.556775 -1.054974

In [23]:
# Sorting by value 
df.sort_values('A', axis = 0)

                   A         B         C         D
2019-09-05 -1.054974  0.556775 -0.945219 -0.030295
2019-08-30 -0.279572 -0.702492  0.252265  0.958977
2019-09-03 -0.185258  0.856520 -0.686285  1.104195
2019-08-29 -0.040627  0.067333 -0.452978  0.686223
2019-09-02  0.001268  0.951517  2.107360 -0.108726
2019-09-01  0.070011 -0.516443 -1.655689  0.246721
2019-08-27  0.187497  1.122150 -0.988277 -1.985934
2019-08-28  0.360803 -0.562243 -0.340693 -0.986988
2019-09-04  0.387023  1.706336 -2.452653  0.260466
2019-08-31  0.537438 -1.737568  0.714727 -0.939288

In [27]:
df.sort_values('20190828', axis = 1)

                   D         B         C         A
2019-08-27 -1.985934  1.122150 -0.988277  0.187497
2019-08-28 -0.986988 -0.562243 -0.340693  0.360803
2019-08-29  0.686223  0.067333 -0.452978 -0.040627
2019-08-30  0.958977 -0.702492  0.252265 -0.279572
2019-08-31 -0.939288 -1.737568  0.714727  0.537438
2019-09-01  0.246721 -0.516443 -1.655689  0.070011
2019-09-02 -0.108726  0.951517  2.107360  0.001268
2019-09-03  1.104195  0.856520 -0.686285 -0.185258
2019-09-04  0.260466  1.706336 -2.452653  0.387023
2019-09-05 -0.030295  0.556775 -0.945219 -1.054974

### Aplicando funciones a dataFrames

In [28]:
import math

sq_root = lambda x: math.sqrt(x) if x > 0 else x  # tomamos raiz de x si x es positiva, sino tomamos x
sq      = lambda x: x**2  # x al cuadrado

Es importante saber que la función apply sera aplicando a Series cuyo index sea un fila(indice) del dataframe o una columna del dataframe.

In [30]:
checkSeriesOrDataframe(df.B)

'Series'

In [31]:
df.B.apply(sq_root)

2019-08-27    1.059316
2019-08-28   -0.562243
2019-08-29    0.259486
2019-08-30   -0.702492
2019-08-31   -1.737568
2019-09-01   -0.516443
2019-09-02    0.975457
2019-09-03    0.925484
2019-09-04    1.306268
2019-09-05    0.746174
Freq: D, Name: B, dtype: float64

In [32]:
df.B.apply(sq)

2019-08-27    1.259221
2019-08-28    0.316117
2019-08-29    0.004534
2019-08-30    0.493495
2019-08-31    3.019143
2019-09-01    0.266713
2019-09-02    0.905385
2019-09-03    0.733627
2019-09-04    2.911583
2019-09-05    0.309998
Freq: D, Name: B, dtype: float64

In [33]:
df.apply(sq_root) # error

ValueError: ('The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().', u'occurred at index A')

In [36]:
df.apply(sq) # interesantemente si podemos aplicar la funcion sq al data frame ya que éste toma columna por columna

                   A         B         C         D
2019-08-27  0.035155  1.259221  0.976691  3.943934
2019-08-28  0.130179  0.316117  0.116072  0.974145
2019-08-29  0.001651  0.004534  0.205189  0.470902
2019-08-30  0.078161  0.493495  0.063638  0.919637
2019-08-31  0.288840  3.019143  0.510835  0.882262
2019-09-01  0.004902  0.266713  2.741306  0.060871
2019-09-02  0.000002  0.905385  4.440966  0.011821
2019-09-03  0.034321  0.733627  0.470987  1.219247
2019-09-04  0.149787  2.911583  6.015507  0.067843
2019-09-05  1.112970  0.309998  0.893439  0.000918

Pero en el caso de la funcion anterior podemos hacer lo mismo y realizar la operación columna por columna

In [37]:
for column in df:
    df[column] = df[column].apply(sq_root)

print(df)

                   A         B         C         D
2019-08-27  0.433009  1.059316 -0.988277 -1.985934
2019-08-28  0.600669 -0.562243 -0.340693 -0.986988
2019-08-29 -0.040627  0.259486 -0.452978  0.828386
2019-08-30 -0.279572 -0.702492  0.502260  0.979274
2019-08-31  0.733102 -1.737568  0.845415 -0.939288
2019-09-01  0.264596 -0.516443 -1.655689  0.496710
2019-09-02  0.035609  0.975457  1.451675 -0.108726
2019-09-03 -0.185258  0.925484 -0.686285  1.050807
2019-09-04  0.622112  1.306268 -2.452653  0.510359
2019-09-05 -1.054974  0.746174 -0.945219 -0.030295

In [39]:
df.head() # los valores si cambiaron

                   A         B         C         D
2019-08-27  0.433009  1.059316 -0.988277 -1.985934
2019-08-28  0.600669 -0.562243 -0.340693 -0.986988
2019-08-29 -0.040627  0.259486 -0.452978  0.828386
2019-08-30 -0.279572 -0.702492  0.502260  0.979274
2019-08-31  0.733102 -1.737568  0.845415 -0.939288

La función apply puede ser aplicada por columna o por fila(index) cambiando el axis

In [40]:
df.apply(np.sum, axis = 0)

A    1.128665
B    1.753438
C   -4.722444
D   -0.185696
dtype: float64

In [41]:
df.apply(np.sum, axis = 1)

2019-08-27   -1.481886
2019-08-28   -1.289255
2019-08-29    0.594267
2019-08-30    0.499470
2019-08-31   -1.098339
2019-09-01   -1.410826
2019-09-02    2.354015
2019-09-03    1.104747
2019-09-04   -0.013915
2019-09-05   -1.284314
Freq: D, dtype: float64