In [1]:
import xarray as xr
import pandas as pd
import numpy as np

# Pregunta 1

Leenmos el archivo sst1.cdf.

In [2]:
datadir = "sst1.cdf"
ds = xr.open_dataset(datadir)

Convertimos el archivo en un marco de datos (dataframe) para poder realizar algunas operaciones.

In [3]:
df = ds.to_dataframe()
df.tail()

                                           T_20  QT_5020  ST_6020
depth lat  lon   time
0.0   -2.0 265.0 2018-11-06 12:00:00  23.252274      2.0      1.0
                 2018-11-07 12:00:00  23.307045      2.0      1.0
                 2018-11-08 12:00:00  23.375366      2.0      1.0
                 2018-11-09 12:00:00  23.396191      2.0      1.0
                 2018-11-10 12:00:00  23.352537      2.0      1.0

In [4]:
#from datetime import datetime
# Definimos algunas variables del índice que nos servirá a acceder a nuestro marco de datos.
dept = 0.0
lat = -2.0
ton = 265.0

Ahora creamos todas las fechas que necesitamos completar.

In [5]:
fechas = pd.date_range('20181111120000', periods=51)
fechas

DatetimeIndex(['2018-11-11 12:00:00', '2018-11-12 12:00:00',
               '2018-11-13 12:00:00', '2018-11-14 12:00:00',
               '2018-11-15 12:00:00', '2018-11-16 12:00:00',
               '2018-11-17 12:00:00', '2018-11-18 12:00:00',
               '2018-11-19 12:00:00', '2018-11-20 12:00:00',
               '2018-11-21 12:00:00', '2018-11-22 12:00:00',
               '2018-11-23 12:00:00', '2018-11-24 12:00:00',
               '2018-11-25 12:00:00', '2018-11-26 12:00:00',
               '2018-11-27 12:00:00', '2018-11-28 12:00:00',
               '2018-11-29 12:00:00', '2018-11-30 12:00:00',
               '2018-12-01 12:00:00', '2018-12-02 12:00:00',
               '2018-12-03 12:00:00', '2018-12-04 12:00:00',
               '2018-12-05 12:00:00', '2018-12-06 12:00:00',
               '2018-12-07 12:00:00', '2018-12-08 12:00:00',
               '2018-12-09 12:00:00', '2018-12-10 12:00:00',
               '2018-12-11 12:00:00', '2018-12-12 12:00:00',
               '2018-12-13 12:00:00', '2018-12-14 12:00:00',
               '2018-12-15 12:00:00', '2018-12-16 12:00:00',
               '2018-12-17 12:00:00', '2018-12-18 12:00:00',
               '2018-12-19 12:00:00', '2018-12-20 12:00:00',
               '2018-12-21 12:00:00', '2018-12-22 12:00:00',
               '2018-12-23 12:00:00', '2018-12-24 12:00:00',
               '2018-12-25 12:00:00', '2018-12-26 12:00:00',
               '2018-12-27 12:00:00', '2018-12-28 12:00:00',
               '2018-12-29 12:00:00', '2018-12-30 12:00:00',
               '2018-12-31 12:00:00'],
              dtype='datetime64[ns]', freq='D')

### Analizando la temperatura

Los datos faltantes podemos completarlo con la media de todas las temperaturas anteriores...

In [6]:
totalv = len(df)

In [7]:
tmean = np.round(df.sum().T_20/totalv,3)  # también se realizó un aproximamiento a 3 comas decimales.
tmean

23.744

... ya que solo tenemos las temperaturas de 1 año.
Pero las temperaturas que hay en Marzo y Febrero no son las mismas que existe en Agosto y Septiembre y por esta razón si nos fijamos el último valor que pondremos será:

In [8]:
tmean

23.744

Mientras que la primera temperatura es decir el primero de enero será de:

In [9]:
df.iloc[0][0]

21.726934

Lo cual en vista de que tenemos un salto de 21.72 a 23.74 y en ninguna parte de nuestro dataset tenemos algo parecido, 
mi sugerencia es realizar el promedio de las temperaturas cercanas a los datos que nos faltan **pero** tanto como antes de las fechas faltantes como despues de éstas así tendríamos un promedio de todos esos datos faltantes, ya que los valores faltantes reales que estan más cercas a Enero se parecen a Enero y los datos faltantes reales que estan cerca a Noviembre/Diciembre se parecen más a Noviembre por lo que tendríamos entonces un promedio de los datos faltantes reales puestos en nuestros valores faltantes.

In [10]:
df.iloc[[0,313]] # salto grande de temperatura.

                                           T_20  QT_5020  ST_6020
depth lat  lon   time
0.0   -2.0 265.0 2018-01-01 12:00:00  21.726934      1.0      5.0
                 2018-11-10 12:00:00  23.352537      2.0      1.0

In [11]:
tmean = ( df.iloc[290:314].sum()[0] + df.iloc[0:20].sum()[0] ) / 44 # usamos mi sugerencia
tmean

22.46191267533736

## Analizando QT_5020 y ST_6020

Podemos ver según este enlance http://osmc.noaa.gov/erddap/info/pmelTaoDyT/index.xhtml como QT es Temperatura Quality o la **calidad de temperatura**:

   * 0 = missing data
   * 1 = highest
   * 2 = standard
   * 3 = lower
   * 4 = questionable
   * 5 = bad

y ST Source Temperature o **fuente de la temperatura**:

   * 0 = No Sensor, No Data
   * 1 = Real Time (Telemetered Mode) 
   * 2 = Derived from Real Time
   * 3 = Temporally Interpolated from Real Time
   * 4 = Source Code Inactive at Present
   * 5 = Recovered from Instrument RAM (Delayed Mode)
   * 6 = Derived from RAM
   * 7 = Temporally Interpolated from RAM

Observamos como a partir del 2018-04-20 se comienza a tener una calidad standar de la temperatura (2.0) y 
como la fuente pasa a ser de tiempo real(1.0)

In [12]:
df.iloc[107:111]

                                           T_20  QT_5020  ST_6020
depth lat  lon   time
0.0   -2.0 265.0 2018-04-18 12:00:00  26.376242      1.0      5.0
                 2018-04-19 12:00:00  26.516544      1.0      5.0
                 2018-04-20 12:00:00  26.519377      2.0      1.0
                 2018-04-21 12:00:00  26.544127      2.0      1.0

In [13]:
# Y es así como se tiene hasta el final de los datos registrados que tenemos
df.iloc[310:314]

                                           T_20  QT_5020  ST_6020
depth lat  lon   time
0.0   -2.0 265.0 2018-11-07 12:00:00  23.307045      2.0      1.0
                 2018-11-08 12:00:00  23.375366      2.0      1.0
                 2018-11-09 12:00:00  23.396191      2.0      1.0
                 2018-11-10 12:00:00  23.352537      2.0      1.0

In [14]:
# Por lo que entonces tenemos los QT y ST faltantes.
qt = 2.0
st = 1.0

Procedemos a llenar entonces todos los datos faltantes:
   * Por cada fecha tenemos el mismo depth, lat y ton.
   * Los valores son los mismos: tmean (temperatura media), qt y st.

In [15]:
for i in fechas:
    df.loc[(dept,lat,ton,i)] = (tmean,qt,st)

In [16]:
# Verificamos los valores agregados
df[314:]

                                           T_20  QT_5020  ST_6020
depth lat  lon   time
0.0   -2.0 265.0 2018-11-11 12:00:00  22.461913      2.0      1.0
                 2018-11-12 12:00:00  22.461913      2.0      1.0
                 2018-11-13 12:00:00  22.461913      2.0      1.0
                 2018-11-14 12:00:00  22.461913      2.0      1.0
                 2018-11-15 12:00:00  22.461913      2.0      1.0
                 2018-11-16 12:00:00  22.461913      2.0      1.0
                 2018-11-17 12:00:00  22.461913      2.0      1.0
                 2018-11-18 12:00:00  22.461913      2.0      1.0
                 2018-11-19 12:00:00  22.461913      2.0      1.0
                 2018-11-20 12:00:00  22.461913      2.0      1.0
                 2018-11-21 12:00:00  22.461913      2.0      1.0
                 2018-11-22 12:00:00  22.461913      2.0      1.0
                 2018-11-23 12:00:00  22.461913      2.0      1.0
                 2018-11-24 12:00:00  22.461913      2.0      1.0
                 2018-11-25 12:00:00  22.461913      2.0      1.0
                 2018-11-26 12:00:00  22.461913      2.0      1.0
                 2018-11-27 12:00:00  22.461913      2.0      1.0
                 2018-11-28 12:00:00  22.461913      2.0      1.0
                 2018-11-29 12:00:00  22.461913      2.0      1.0
                 2018-11-30 12:00:00  22.461913      2.0      1.0
                 2018-12-01 12:00:00  22.461913      2.0      1.0
                 2018-12-02 12:00:00  22.461913      2.0      1.0
                 2018-12-03 12:00:00  22.461913      2.0      1.0
                 2018-12-04 12:00:00  22.461913      2.0      1.0
                 2018-12-05 12:00:00  22.461913      2.0      1.0
                 2018-12-06 12:00:00  22.461913      2.0      1.0
                 2018-12-07 12:00:00  22.461913      2.0      1.0
                 2018-12-08 12:00:00  22.461913      2.0      1.0
                 2018-12-09 12:00:00  22.461913      2.0      1.0
                 2018-12-10 12:00:00  22.461913      2.0      1.0
                 2018-12-11 12:00:00  22.461913      2.0      1.0
                 2018-12-12 12:00:00  22.461913      2.0      1.0
                 2018-12-13 12:00:00  22.461913      2.0      1.0
                 2018-12-14 12:00:00  22.461913      2.0      1.0
                 2018-12-15 12:00:00  22.461913      2.0      1.0
                 2018-12-16 12:00:00  22.461913      2.0      1.0
                 2018-12-17 12:00:00  22.461913      2.0      1.0
                 2018-12-18 12:00:00  22.461913      2.0      1.0
                 2018-12-19 12:00:00  22.461913      2.0      1.0
                 2018-12-20 12:00:00  22.461913      2.0      1.0
                 2018-12-21 12:00:00  22.461913      2.0      1.0
                 2018-12-22 12:00:00  22.461913      2.0      1.0
                 2018-12-23 12:00:00  22.461913      2.0      1.0
                 2018-12-24 12:00:00  22.461913      2.0      1.0
                 2018-12-25 12:00:00  22.461913      2.0      1.0
                 2018-12-26 12:00:00  22.461913      2.0      1.0
                 2018-12-27 12:00:00  22.461913      2.0      1.0
                 2018-12-28 12:00:00  22.461913      2.0      1.0
                 2018-12-29 12:00:00  22.461913      2.0      1.0
                 2018-12-30 12:00:00  22.461913      2.0      1.0
                 2018-12-31 12:00:00  22.461913      2.0      1.0

## Serializando y deserializando el nuevo marco de dato

Pasamos el dataframe a un dataArray  para poder guardarlo.

In [17]:
dirout = "sst1tratado.cdf"

ds = df.to_xarray()

# Guardamos en la direccion de salida (dirout)
ds.to_netcdf(dirout)

Ahora traemos de vuelta, es decir, deserializamos ese dataArray.

In [18]:
datadir2 = dirout # la direccion de la cual tomaremos es la misma del cual importamos
ds2 = xr.open_dataset(datadir2) # importamos

In [19]:
df2 = ds2.to_dataframe() # lo converitmos a un marco de datos.

In [20]:
df2.tail(10)

                                           T_20  QT_5020  ST_6020
depth lat  lon   time
0.0   -2.0 265.0 2018-12-22 12:00:00  22.461913      2.0      1.0
                 2018-12-23 12:00:00  22.461913      2.0      1.0
                 2018-12-24 12:00:00  22.461913      2.0      1.0
                 2018-12-25 12:00:00  22.461913      2.0      1.0
                 2018-12-26 12:00:00  22.461913      2.0      1.0
                 2018-12-27 12:00:00  22.461913      2.0      1.0
                 2018-12-28 12:00:00  22.461913      2.0      1.0
                 2018-12-29 12:00:00  22.461913      2.0      1.0
                 2018-12-30 12:00:00  22.461913      2.0      1.0
                 2018-12-31 12:00:00  22.461913      2.0      1.0

# Pregunta 2

Abrimos nuestro archivo cdf y lo pasamos a dataframe para comenzar a trabajar.

In [21]:
datadir = "sst2.cdf"
ds = xr.open_dataset(datadir)

df = ds.to_dataframe()
df.head()

                                       T_20  QT_5020  ST_6020
depth lat  lon   time
0.0   -2.0 250.0 2010-01-01 12:00:00  25.49      1.0      5.0
                 2010-01-02 12:00:00  25.48      1.0      5.0
                 2010-01-03 12:00:00  25.52      1.0      5.0
                 2010-01-04 12:00:00  25.58      1.0      5.0
                 2010-01-05 12:00:00  25.58      1.0      5.0

Antes de comenzar vamos a ver cuantos datos son los que faltan.

In [22]:
df.shape # datos totales

(19722, 3)

In [23]:
(df["T_20"] != 1.000000e+35).sum() # datos que tenemos

12613

In [24]:
(df["T_20"] == 1.000000e+35).sum() # datos que faltan

7109

In [25]:
12613 + 7109 # es correcto  los datos faltantes + los que tenemos suman datos totales

19722

## Analizando QT y ST

Como hemos visto QT y ST con clasificados por números 1,2,3,etc el cual cada uno tiene un significado y no se toma como medida de valor, es decir no podemos realizar una media de estos números porque podria salir 2.5 y esto no tiene sentido como clasificación por lo que mi sugerencia es realizar una moda, es decir si en la mayoria de años se uso cierta categoria, esta categoría tiene más probabilidad de estar en los datos faltantes.

In [26]:
from scipy.stats import mode # para hallar la moda

In [27]:
# Para ser más exquisitos mostraremos como se cambio un valor explicitamente:
# Seguimiento de dato que falta.
df.iloc[5538]

T_20       1.000000e+35
QT_5020    0.000000e+00
ST_6020    0.000000e+00
Name: (0.0, -2.0, 265.0, 2016-03-01 12:00:00), dtype: float32

## Análisis del algoritmo

Como se pidio en el test se llenará los valores faltantes en base al mismo día y mes de los demás años que si tenemos la información:
   * En cada fila buscamos si falta o no el dato.
   * Si existe un valor faltante entonces guardamos su indice ( depth, lat, lon, time ) para usarlo después.
       * Si es bisiesto (mes = 2 y dia = 29) entonces se promediará entre los años bisiestos en este caso solo 2012.
            En el caso de ser más general, tan solo se toma cada 4 años el rango de fechas a partir del primer año bisiesto y obviando tanto el año bisiesto en cuestión como años bisiestos faltantes.
       * Si no lo es procedemos a completar con todos los años que si tenemos información:
           * Salvamos el año actual.
           * Cambiamos al año 2010 para generar desde ahí un rango de fechas (el mismo dia los 8 años que tenemos).
           * Hallamos el promedio de esos datos en los que si tenemos el valor (usamos np.float32 para no tener problemas con los decimales).
           * También como se mencionó arriba tenemos que usar la moda para el caso de qt y st.
           * se reemplaza en la fecha que hemos guardado previamente, es decir la fecha en la que falta la temperatura, todas las medias y modas calculadas .
    
   * Fin

In [28]:
for i in df.iterrows():
    if(i[1][0] == np.float32(1.000000e+35)): # [0] Estan los index y [1] Estan los valores -> [1][0] Esta T_20
        depth = i[0][0]
        lat   = i[0][1]
        lon   = i[0][2]
        time  = i[0][3]  # [0][3] Esta la fecha en el cual no existe el valor.
        if(time.month == 2 and time.day == 29):
            actualyear = time.year # salvamos el año
            time = time.replace(year = 2012)
            temperatura = df.loc[(depth,lat,lon,time)][0]
            qt = df.loc[(depth,lat,lon,time)][1]
            st = df.loc[(depth,lat,lon,time)][2]
            
            time = time.replace(year=actualyear)
            df.loc[(depth,lat,lon,time)] = (temperatura,qt,st)
        else:
            actualyear = time.year # salvamos el año
            time = time.replace(year=2010)
            fechas = pd.date_range(time, periods = 8, freq = pd.DateOffset(years=1))
            #print(fechas)
            tmean = 0
            qt = []
            st = []
            c = 0
            for i in fechas:
                if(df.loc[(depth,lat,lon,i)].T_20 != np.float32(1.000000e+35)):
                    tmean = tmean + df.loc[(depth,lat,lon,i)][0]
                    c = c + 1
                    qt.append(df.loc[(depth,lat,lon,i)][1])
                    st.append(df.loc[(depth,lat,lon,i)][2])
            tmean = (tmean/c)

            time = time.replace(year=actualyear)
            df.loc[(depth,lat,lon,time)] = (tmean,mode(qt)[0][0],mode(st)[0][0]) # [0][0] En caso de doble moda retorna 
                                                                                 # el valor más bajo

Hallamos la cantidad de datos faltantes que **ahora** tenemos.

In [29]:
(df["T_20"] == 1.000000e+35).sum() # Completamos todos los datos faltantes.

0

In [30]:
# Para ser más exquisitos mostraremos como se cambio un valor explicitamente:
# Seguimiento de dato que si faltaba.
df.iloc[5538]

T_20       26.928766
QT_5020     2.000000
ST_6020     5.000000
Name: (0.0, -2.0, 265.0, 2016-03-01 12:00:00), dtype: float32

## Fin del Examen