## Pandas DataFrame

* Un DataFrame es un array de dos dimensiones, puedes pensar que es una tabla.
* A diferencia de una Serie aqui tenemos m√°s de 1 sola columna (a parte del indice).

En el mundo real la data se guarda muy similar a un dataFrame.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(10,4), columns = list('ABCD'))

In [5]:
df

          A         B         C         D
0  0.650830 -0.140188  0.633757  0.558017
1 -0.967836 -0.669529  0.644246  0.630821
2  0.848259  1.313977  1.424618  0.423067
3 -0.545347  0.040032 -0.146321 -2.718542
4 -1.883369  0.619740 -1.222427 -0.089802
5  0.071046 -0.817748  0.450165 -0.485034
6  0.462691  1.671004  0.236965  0.319174
7  0.235726 -0.996173  0.862344  0.994417
8 -0.187727 -1.296308 -1.124890 -0.453353
9  0.815142  0.529395 -1.288003  0.037029

### Leer un archivo csv con pandas

In [10]:
df = pd.read_csv('prueba.csv')
df.head()

          A         B         C         D
0  0.187497  1.122150 -0.988277 -1.985934
1  0.360803 -0.562243 -0.340693 -0.986988
2 -0.040627  0.067333 -0.452978  0.686223
3 -0.279572 -0.702492  0.252265  0.958977
4  0.537438 -1.737568  0.714727 -0.939288

### Agregando indice personalizado

In [12]:
df = pd.read_csv('prueba.csv')
days = pd.date_range('20190827', periods = 10)
df.index = days

In [13]:
df.head()

                   A         B         C         D
2019-08-27  0.187497  1.122150 -0.988277 -1.985934
2019-08-28  0.360803 -0.562243 -0.340693 -0.986988
2019-08-29 -0.040627  0.067333 -0.452978  0.686223
2019-08-30 -0.279572 -0.702492  0.252265  0.958977
2019-08-31  0.537438 -1.737568  0.714727 -0.939288

In [15]:
df.index

DatetimeIndex(['2019-08-27', '2019-08-28', '2019-08-29', '2019-08-30',
               '2019-08-31', '2019-09-01', '2019-09-02', '2019-09-03',
               '2019-09-04', '2019-09-05'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.values

array([[ 1.874970e-01,  1.122150e+00, -9.882770e-01, -1.985934e+00],
       [ 3.608030e-01, -5.622430e-01, -3.406930e-01, -9.869880e-01],
       [-4.062700e-02,  6.733300e-02, -4.529780e-01,  6.862230e-01],
       [-2.795720e-01, -7.024920e-01,  2.522650e-01,  9.589770e-01],
       [ 5.374380e-01, -1.737568e+00,  7.147270e-01, -9.392880e-01],
       [ 7.001100e-02, -5.164430e-01, -1.655689e+00,  2.467210e-01],
       [ 1.268000e-03,  9.515170e-01,  2.107360e+00, -1.087260e-01],
       [-1.852580e-01,  8.565200e-01, -6.862850e-01,  1.104195e+00],
       [ 3.870230e-01,  1.706336e+00, -2.452653e+00,  2.604660e-01],
       [-1.054974e+00,  5.567750e-01, -9.452190e-01, -3.029500e-02]])